
body {
    background-color: rgb(200,200,200);
    color: rgb(0,0,0);
    font-family: "Open Sans", sans-serif;
    text-align: center;
    overflow: scroll;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header {
	
}

footer {
	font-style: italic;
	font-size: 90%;
}

p {
    font-style: normal;
    font-size: 75%;
}

#W {

}

#S {

}

#A {
    display: inline-block;
    margin-left: 10px;
}

#D {
    display: inline-block;
    margin-right: 10px;
}
